@use '/src/styles/constants/colors';

.bookList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .item {
    margin-right: 6px;
    margin-bottom: 20px;

    .bookImg {
      width: 100px;
      border: 1px solid colors.$GRAYE;
      border-radius: 5px;
    }

    .bookTitle {
      display: block;
      width: 100px;
      overflow: hidden;
      font-size: 12px;
      line-height: 25px;
      color: colors.$BLACK;
      text-overflow: ellipsis;
      white-space: nowrap;

      :root[color-theme='dark'] & {
        color: colors.$WHITE;
      }
    }
  }
}

.loadingIcon {
  display: flex;
  justify-content: center;
}
